:root {
    
    --dark-blue: #2C3E50; /* För bakgrunder och kontrast.*/
    --turqouise-blue: #4E8CA3; /* För robotens kropp och detaljer.*/
    --orange: #FFA500; /*För de lysande ögonen.*/
    --light-green: #A1C349; /* För detaljer och accenter.*/
    --white: #FFFFFF; /* För text och hög kontrast.*/
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}