:root {
    --dark-blue: rgba(44, 62, 80, 1); /* För bakgrunder och kontrast.*/
    --turqouise-blue: rgba(78, 140, 163, 1); /* För robotens kropp och detaljer.*/
    --orange: rgba(255, 165, 0, 1); /*För de lysande ögonen.*/
    --light-green: rgba(161, 195, 73, 1); /* För detaljer och accenter.*/
    --white: #FFFFFF; /* För text och hög kontrast.*/
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        /*#4fa0ab*/
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    color: var(--orange);
}

body {
    margin-bottom: 60px;
    padding-right: 220px;
    padding-left: 220px;
    background-color: rgba(44, 62, 80, 0.2);
    overflow-x: hidden;
}

.main-btn {
    color: var(--orange);
    background-color: var(--dark-blue);
    border-radius: 10px;
}

    .main-btn:hover {
        color: var(--dark-blue);
        background-color: var(--orange);
    }





/*TEST NY NAVBAR*/

/*.box-shadow{
    color: var(--turqouise-blue);
}*/

/* Navbar utan padding från sidorna */
.navbar {
    background-color: var(--dark-blue);
    /*overflow: hidden;*/
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: solid;
    border-color: var(--turqouise-blue);
}

.userMenu li {
    background-color: var(--dark-blue);
    /*padding: 2px 10px;*/
    text-decoration: none;
    font-weight: 500;
}

    .userMenu li:hover {
        color: var(--dark-blue);
        background-color: var(--orange);
    }

.navbar-lower {
    border-bottom: none;
    margin-bottom: 30px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    margin-left: 14%;
}

.navbar li {
    margin: 0;
}

.navbar img {
    margin-left: 12%;
}

.navbar a {
    display: block;
    padding: 7px 20px;
    color: var(--orange);
    text-decoration: none;
    font-weight: 500;
    border-radius: 10px;
    margin-right: 1em;
    margin-left: 1em;
}

    .navbar a:hover {
        color: var(--dark-blue);
        background-color: var(--orange);
    }

/*Innehåll med padding från sidorna */
.content-wrapper {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}




/*CUSTOM LIST FAVOURITES*/

.custom-list .list-group-item {
    margin-bottom: 0.5em;
    border-radius: 0.5em;
}

    .custom-list .list-group-item:nth-child(odd) {
        background-color: rgba(78, 140, 163, 0.3);
    }

    .custom-list .list-group-item:nth-child(even) {
        background-color: rgba(78, 140, 163, 0.8);
        color: var(--white);
    }


/*PAGEINATION*/

.page-link {
    background-color: rgba(44, 62, 80, 0.8);
    color: var(--orange);
    font-weight: 400;
}

    .page-link:hover {
        color: var(--dark-blue);
        background-color: var(--orange);
    }

.pagination .page-item.active .page-link {
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
    color: var(--orange);
    font-weight: bold;
}


/*LOGIN DROPDOWN CARD*/

.login-card {
    background-color: var(--dark-blue);
}

    .login-card li a {
        color: var(--orange);
    }


/*TEST*/

.dropdown-submenu:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 80%;
        margin-top: -1px;
        display: none;
        position: absolute;
        min-width: 200px;
    }


    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

.a-link {
    color: rgba(204, 133, 0, 1);
}

.custom-card {
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    padding: 1em;
}

.custom-card-subcategory {
    background-color: rgba(78, 140, 163, 0.3);
    color: black;
}

.custom-card-subcategory a {
    text-decoration: none;
    background-color: var(--light-green);
    
}

.custom-card-threads {
    background-color: rgba(78, 140, 163, 0.8);
    color: #f0f0f0;
}

    .custom-card-threads a {
        text-decoration: none;
        
    }
    
