@* @model FlashHackForum.ViewModels.CreateSubCategoryViewModel *@

@{
    ViewData["Title"] = "CreateCategory";
}

<h1>Create Sub Category</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCategory">


            <div class="form-group">
                <label for="SubCategoryName">Name for sub category:</label>
                <input type="text" name="SubCategoryName" class="form-control" placeholder="Name">
            </div>
            @*
                Här behöver vi troligtvis göra en viewmodel eller liknande så att vi kan skapa en subkategori som är kopplad till en huvudkategori
                Kolla hur vi ska göra med valen i selecten om vi ska gå på ID eller om vi ska gå på namnet vi tilldelat huvudkategorin
            *@
            <br />
            <div class="form-group">
                <label for="MainCategoryId">Choose main category:</label>
                <select name="MainCategoryId" class="form-control">
                    <option value="">-- Välj huvudkategori --</option>
                    @foreach (var kategori in ViewBag.MainCategories)
                    {
                        <option value="@kategori.MainCategoryId">@kategori.Name</option>
                    }
                </select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllCategories">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
